# fly.toml app configuration file generated for cool-smoke-834 on 2023-07-18T20:05:57-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "cool-smoke-834"
primary_region = "ord"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

  [deploy]
    release_command = "npm run migrate up"
